<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/ability/<%= abilities[0].ability.name %>"><%= abilities[0].ability.name %></a>
</body>
</html>